[submodule "themes/dantcho"]
	path = themes/dantcho
	url = https://github.com/DantchoLV9/dantcho-hugo-theme.git
[submodule "content"]
	path = content
	url = https://github.com/DantchoLV9/dantcho-website-content.git
